body {
    font-family: Verdana, sans-serif;
}

.wrapper {
    background: url(../img/background.png) no-repeat;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.41);
    height: 54px;
    color: #ffffff;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 54px;
    padding-left: 81px;
}

.logo:hover {
    color: #3cb878;
    transition: color .5s;
}

.right {
    float: right;
    margin-right: 75px;
}

.apps {
    display: inline;
    border-right: 1px solid #2f2d2d;
    ;
}

.calendar {
    display: inline-block;
    background: url(../img/apps-sprite.png) no-repeat;
    background-position: -0px -99px;
    width: 19px;
    height: 19px;
    margin-right: 28px;
}

.calendar:hover {
    background-position: -0px -80px;
    transition: background-position .5s;

}

.notes {
    display: inline-block;
    background: url(../img/apps-sprite.png) no-repeat;
    background-position: -0px -20px;
    width: 28px;
    height: 20px;
    margin-right: 28px;
}

.notes:hover {
    background-position: -0px -0px;
    transition: background-position .5s;
}

.compas {
    display: inline-block;
    background: url(../img/apps-sprite.png) no-repeat;
    background-position: -0px -60px;
    width: 20px;
    height: 20px;
    margin-right: 28px;
}

.compas:hover {
    background-position: -0px -40px;
    transition: background-position .5s;
}

.enter {
    display: inline;
    margin-left: 24px;
    font-size: 14px;
    line-height: 54px;
}

.enter a {
    text-decoration: none;
    color: #3cb878;
}

.enter a:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom .5s;
}

.signup-form {
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 29px;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squere {
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.sign-up {
    color: #434343;
    font-size: 20px;
    margin-left: 42px;
}

.log-in {
    text-decoration: none;
    color: #3cb878;
    float: right;
    margin-right: 59px;
    font-size: 14px;
}

.log-in:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom .5s;
}

.button__facebook {
    border-radius: 3px;
    background-color: #305db8;
    height: 46px;
    width: 157px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
    text-align: left;
    display: inline-block;
    margin-left: 62px;
    text-align: center;
}

.button__google {
    border-radius: 3px;
    background-color: #df4a32;
    height: 46px;
    width: 157px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
    text-align: left;
    display: inline-block;
    margin-right: 60px;
    text-align: center;
}

.facebook-logo,
.google-logo {
    margin-top: 13px;
    width: 47px;
    font-size: 16px;
    font-weight: 700;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
}

.facebook-logo_name,
.google-logo_name {
    width: 100px;
    margin-top: 13px;
    display: inline-block;
}

.button__facebook:hover {
    background-color: #264b96;
    transition: background-color .5s;
}

.button__google:hover {
    background-color: #c3412c;
    transition: background-color .5s;
}

.line {
    text-align: center;
    padding-top: 27px;
    font-size: 14px;
    color: #848484;
}

.line hr {
    width: 135px;
    margin: 0 0 3px 0;
    display: inline-block;
    opacity: .5;
}

.but1,
.but2 {
    text-decoration: none;
    display: contents;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.user-information {
    text-align: center;
}

.name {
    margin: 20px 0 0 0;
}

.form {
    width: 305px;
    height: 46px;
    border-radius: 3px;
    margin-bottom: 17px;
    font-size: 14px;
    padding-left: 17px;
    border: 1px solid #bebebe;
    background-color: #ffffff;
    outline: none;
}

::placeholder {
    color: #bebebe;
}

.form:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.agreement {
    display: inline-block;
    font-size: 14px;
    padding-right: 75px;
    line-height: 20px;
    height: 20px;
    user-select: none;
}

.checkbox {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid #bebebe;
    background-color: #ffffff;
    font-weight: 700;
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .checkbox {
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    background-position: center;
}

label a {
    text-decoration: none;
    color: #3cb878;
}

label a:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom .5s;
}

.accept {
    display: inline-block;
    width: 322px;
    height: 46px;
    background-color: #39b979;
    border-radius: 3px;
    border: none;
    margin: 14px 0 16px 0;
    padding: 0;
    color: #ffffff;
}

.accept:hover {
    background-color: #2e9b65;
    transition: border-bottom .5s;
}
